/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none; /* tira o sublinhado */
    color: inherit; /* tira o esquema de cores */
}

ul, ol, li{
    list-style: none;
}

/* fim do reset */


html, body {
    overflow-y: hidden; /* Desativa a rolagem vertical */
  }

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    overflow: hdden;
}

header {
    height: 12vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 3vw;
    padding-right: 20vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.logo{
    height: 5vh;
}

.menu{
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.9vh;
    background-color: transparent;
    border: 3.5px solid #5a365d3f;
    width: 7vw;
    text-align: center;
    padding: 0.7vw;
    border-radius: 5vh;
}

.menu a{
    font-weight: 600;
    transition: all 0.3s ease;
}

.menu:hover{
    border: 3.5px solid #4A0592;
    transition: all 0.3s ease;
}


.text-content1, main img{
    opacity: 0; /* Oculto inicialmente */
    transform: translateX(10vh); /* Deslocado para a direita */
    animation: slideIn 0.7s ease-out forwards; /* Animação padrão */
}

@keyframes slideIn {
    to {
    opacity: 1;
    transform: translateX(0); /* Posição final */
    }
}

h1{
    font-size: 8.5vh;
}


main {
    padding: 5vh;
    display: flex;
    height: 88vh;
    gap: 10vh;
    align-items: center;
    background-color: #4b0082;
    color: #fff;
}


.text-content1 h3 {
    font-size: 3vh;
    line-height: 1.8;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main img{
    height: 80vh;
    border-radius: 10vh;
}

@media (max-width: 1400px){
    main img{
        height: 65vh;
    }
    h1{
        font-size: 4vh
    }
    .text-content{
        font-size: 1vh;
    }
}