/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none; /* tira o sublinhado */
    color: inherit; /* tira o esquema de cores */
}

ul, ol, li{
    list-style: none;
}

/* fim do reset */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    opacity: 1;
}

header {
    height: 12vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: space-between;
    padding-left: 3vw;
    padding-right: 20vw;
}

.logo{
    height: 5vh;
}

main {
    height: 88vh;
}

.menu{
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.9vh;
    background-color: transparent;
    border: 3.5px solid #5a365d3f;
    width: 7vw;
    text-align: center;
    padding: 0.7vw;
    border-radius: 50px;
}

.menu a{
    font-weight: 600;
    transition: all 0.3s ease;
}

.menu:hover{
    border: 3.5px solid #4A0592;
    transition: all 0.3s ease;
}

.arte{
    padding-top: 3vh;
    height: 44%;
    width: auto;
    display: flex;
    justify-content: center;
}

.arte img{
    height: 17vh;
    position: absolute;
    top: 15%;
    right: 63.5vw;
}

.arte h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30vh;
    font-style: italic;
    z-index: 2;
    user-select: none;
}

.pauzinhos{
    position: absolute;
    top: 15%;
    left: 1.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40vh;
    width: 20vh;
    gap: 3vh;
}

    .pauzinhos :nth-child(1){
        height: 8vh;
        width: 4px;
        background-color: #633594;
    }

    .pauzinhos :nth-child(2){
        flex-grow: 1;
        width: 4px;
        background-color: #313131;
    }

    .pauzinhos :nth-child(3){
        height: 8vh;
        width: 4px;
        background-color: #633594;
    }


/* pastas */
.pastas{
    height: 56%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-inline: 10vh;
    padding-bottom: 3vh;
    gap: 12vh;
}

.pasta1, .pasta2, .quadrado{
    width: 50vh;
    display: flex;
    align-items: end;
    padding-left: 5vh;
    padding-bottom: 2vh;
}

.pasta1{
    background-image: url('./img/pasta1.png');
    background-size: cover;
    background-position: center;
    background-size: 91%;
    background-repeat: no-repeat;
}

.pasta2{
    align-self: end;
    height: 38vh;
    background-image: url('./img/pasta2.png');
    background-size: cover;
    background-position: center;
    background-size: 85%;
    background-repeat: no-repeat;
    padding-left: 7vh;
}

.quadrado{
    background-image: url('./img/quadrado.png');
    background-size: cover;
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
}

.quadrado img{ /* bolinhas */
    position: absolute;
    top: 40%;
    height: 21%;
    right: 5%;
}

.pastas h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white; 
    font-size: 6vh;
    font-weight: 400; 
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7); 
}

h2{
    user-select: none;
}

.arquivo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 2vh;
    background-color: rgb(237, 237, 231);
    height: 37vh;
    width: 19%;
    position: absolute;
    top: 49%;
    left: 10%;
    border-radius: 9px;
    border: 0.5px solid #ccc;;
    z-index: -1;
    gap: 3vh;
    transition: all 0.3s ease;
}

.arquivo div{
    width: 85%;
    border-radius: 2.2vh;
    height: 3.2%;
    background-color: rgb(40, 40, 40);
}

.pasta1:hover .arquivo {
    top: 42%;
} 

.arquivo2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 2vh;
    background-color: rgb(237, 237, 237);
    height: 37vh;
    width: 17%;
    position: absolute;
    top: 53%;
    left: 42%;
    border-radius: 9px;
    border: 0.5px solid #ccc;;
    z-index: -1;
    gap: 3vh;
    transition: all 0.3s ease;
}

.arquivo2 div{
    width: 85%;
    border-radius: 2.2vh;
    height: 3%;
    background-color: rgb(40, 40, 40);
}

.pasta2:hover .arquivo2 {
    top: 49.5%;
}

