/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serife;
}

a{
    text-decoration: none; /* tira o sublinhado */
    color: inherit; /* tira o esquema de cores */
}

ul, ol, li{
    list-style: none;
}

/* fim do reset */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    opacity: 1;
}

header {
    height: 12vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: space-between;
    padding-left: 3vw;
    padding-right: 20vw;
}

.logo{
    height: 5vh;
}

.menu{
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.9vh;
    background-color: transparent;
    border: 3.5px solid #5a365d3f;
    width: 7vw;
    text-align: center;
    padding: 0.7vw;
    border-radius: 50px;
}

.menu a{
    font-weight: 600;
    transition: all 0.3s ease;
}

.menu:hover{
    border: 3.5px solid #4A0592;
    transition: all 0.3s ease;
}

.main {
    background-color: #4A0592;
    height: 88vh;
    display: flex;
    align-items: center;
    padding: 10vh;
}

.sobre-nos {
    text-align: left;
    color: white;
    padding-right: 5vh;
    padding-top: 6vh;
}

.sobre-nos h2 {
    font-size: 5rem;
    font-weight: bold;
}

.sobre-nos p {
    font-size: 2rem;
    font-weight: 300;
}

.img{
    height: 80vh;
    width: 250vh;
    background-image: url('linha-do-tempo-da-historia-da-arte.jpg');
    border-radius: 10%;
    background-size: cover;
}
