/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none; /* tira o sublinhado */
    color: inherit; /* tira o esquema de cores */
}

ul, ol, li{
    list-style: none;
}

/* fim do reset */

html, body {
    overflow-y: hidden; /* Desativa a rolagem vertical */
}

body {
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    opacity: 1;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    overflow: hdden;
}



header {
    height: 12vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: space-between;
    padding-left: 3vw;
    padding-right: 20vw;
}

header div{
    gap: 6.68vw;
    display: flex;
    text-align: center;
    justify-content: center;
}

.logo{
    height: 5vh;
}

main {
    height: 88vh;
}

.menu{
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.9vh;
    background-color: transparent;
    border: 3.5px solid #5a365d3f;
    width: 10vw;
    text-align: center;
    padding: 0.7vw;
    border-radius: 5vh;
}


.menu{
    font-weight: 600;
    transition: all 0.3s ease;
}

.menu:hover{
    border: 3.5px solid #4A0592;
    transition: all 0.3s ease;
}


.menu{
    font-weight: 600;
    transition: all 0.3s ease;
}

.menu:hover{
    border: 3.5px solid #4A0592;
    transition: all 0.3s ease;
}

.sobre-nos, .img{
    opacity: 0;
    transform: translateX(10vh);
    animation: slideIn 0.7s ease-out forwards;
}

.main {
    background-color: #4A0592;
    height: 88vh;
    display: flex;
    align-items: center;
    padding: 10vh;
}

.sobre-nos {
    text-align: left;
    color: white;
    padding-right: 5vh;
    padding-top: 6vh;
}

.sobre-nos h2 {
    font-size: 6rem;
    font-weight: bold;
}

.sobre-nos p {
    font-size: 3.5vh;
    font-weight: 450;
    line-height: 1.8;
    padding-bottom: 2vh;
}

.img{
    height: 80vh;
    width: 250vh;
    background-image: url('linha-do-tempo-da-historia-da-arte.jpg');
    border-radius: 10%;
    background-size: cover;
}

@keyframes slideIn {
    to {
    opacity: 1;
    transform: translateX(0); /* Posição final */
    }
}


@media (max-width: 1400px){
    .sobre-nos p{
        font-size: 3vh;
    }

}

@media (max-width: 1025px){
    .logo{
        padding-right: 4vw;
    }
    
    .menu{
        align-items: center;
        text-align: center;
        font-size: 1.9vh;
        border: 3.5px solid #5a365d3f;
        width: 12vw;
        text-align: center;
        padding: 0.7vw;
        border-radius: 5vh;
    }
    
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: wrap;
    }

    header div{
        gap: 4vw;
        flex-direction: wrap;
        text-align: center;
        justify-content: center;
    }
    .img{
        height: 70vh;
        width: 70vh;
        margin-top: 10vh;
    }
    .main {
        display: flex;
        flex-direction: column;
    }
    .sobre-nos{
        display: flex;
        flex-direction: column;

        padding-left: 5vh;
    }

    .main h2{
        font-size: 7vh;
        align-self: center;
        justify-content: center;
        align-items: center;
        margin-top: -50px;
        width: 50vh;
        text-align: center;
    }
    .main p{
        font-size: 2.2vh;
        margin-top: -2px;
        text-align: center;

    }
    
    .img{
        border-radius: 5vh;
        width: 60vh;
        height: 60vh;
        background-size: 100%;
        background-image: url(https://i.em.com.br/JOWk9uUBL5JXNoX9ujPkV0bJYQg=/1200x675/smart/imgsapp.em.com.br/app/noticia_127983242361/2022/10/22/1410378/a-lua-tela-pintada-por-tarsila-do-amaral_1_46177.jpg);
    }
    
}

@media (max-width: 490px){
    body{
        gap: 1vh;
    }
    header{
        height: 6vh;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .logo{
        display: none;
    }
    header div{
        order: 1;
        padding-top: 3%;
    }
    .main {
        padding: 0;
        height: 94vh;
    }
    .menu{
        width: 10vh;
    }
    .menu div{
        display: flex;
        padding-bottom: 0.5vh;
    }
    .logo{
        display: none;
    }
    header div{
        order: 1;
        padding-top: 3%;
    }
    .menu{
        width: 10vh;
    }
    .menu div{
        display: flex;
        padding-bottom: 0.5vh;
    }
    .sobre-nos{
        display: flex;
        align-items: center;
    }
    .sobre-nos h2{
        padding-top: 2vh;
    }
    .sobre-nos p{
        font-size: 2vh;
        width: 40vh;
        padding: 0;
    }
    .img{
        border-radius: 5vh;
        width: 40vh;
        height: 30vh;
        background-size: 100%;
        background-image: url(linha-do-tempo-da-historia-da-arte.jpg);
    }

}