/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none; /* tira o sublinhado */
    color: inherit; /* tira o esquema de cores */
}

ul, ol, li{
    list-style: none;
}

/* fim do reset */

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    opacity: 1;
    transition: opacity 3s ease;
}

header {
    height: 12vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 3vw;
    padding-right: 20vw;
}

.logo{
    height: 5vh;
}

.menu{
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 1.9vh;
    background-color: transparent;
    border: 3.5px solid #5a365d3f;
    width: 7vw;
    text-align: center;
    padding: 0.7vw;
    border-radius: 50px;
}

.menu a{
    font-weight: 600;
    transition: all 0.3s ease;
}

.menu:hover{
    border: 3.5px solid #4A0592;
    font-size: 2.05vh;
    transition: all 0.3s ease;
}

main{
    height: 88vh;
}

#titulo{
    display: flex;
    height: 25%;
    align-items: end;
    justify-content: center;
    padding-bottom: 2vh;
}

#titulo h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 5vh;
    height: 10vh;
    width: 60vh;
    text-align: center;
    font-weight: 550;
    z-index: 2;
}

span{
    font-weight: 100;
}

#titulo img{
    position: absolute;
    height: 10%;
    transform: translate(-50%, -50%);
    left: 36%;
    top: 20%;
}

#relatos{
    display: flex;
    justify-content: center;
    gap: 8vw;
    height: 75%;
    padding-top: 6vh;
}

.relato1{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.relato1 p, .relato1 h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.relato1 h2{
    font-size: 3vh;
}

.relato1 p{
    width: 28vh;
    font-size: 2vh;
}

.relato2{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.relato2 p, .relato2 h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.relato2 h2{
    font-size: 3vh;
}

.relato2 p{
    width: 28vh;
    font-size: 2vh;
}

.relato3{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.relato3 p, .relato3 h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.relato3 h2{
    font-size: 3vh;
}

.relato3 p{
    width: 28vh;
    font-size: 2vh;
}

.relato4{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.relato4 p, .relato4 h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.relato4 h2{
    font-size: 3vh;
}

.relato4 p{
    width: 28vh;
    font-size: 2vh;
}

.circulo{
    display: flex;
    height: 18vh;
    width: 18vh;
    border-radius: 50%;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    padding-left: 0.7vh;
    border-color: #9f3acb;
}

.circulo img{
    height: 40%;
    width: 40%;
}

p{
    font-style: italic
}